build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/sdlGPU.sln
build/sdlGPU.vcxproj
build/sdlGPU.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-13e6cb3b3ee3cb4ac468.json
build/.cmake/api/v1/reply/cmakeFiles-v1-7f0c9bc9ba9583e51c58.json
build/.cmake/api/v1/reply/codemodel-v2-8d59af3bff2a7954aa11.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2025-05-24T20-45-57-0981.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-4d6f40a4d29cadd649ed.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-4d6f40a4d29cadd649ed.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-4d6f40a4d29cadd649ed.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-4d6f40a4d29cadd649ed.json
build/.cmake/api/v1/reply/target-sdlGPU-Debug-566ff96f69497b5b41d4.json
build/.cmake/api/v1/reply/target-sdlGPU-MinSizeRel-f5268e9af735662d403d.json
build/.cmake/api/v1/reply/target-sdlGPU-Release-fc82a437f42af1026e8b.json
build/.cmake/api/v1/reply/target-sdlGPU-RelWithDebInfo-84a1460346d9e8070615.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-208916a4466db2716323.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-208916a4466db2716323.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-208916a4466db2716323.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-208916a4466db2716323.json
build/.cmake/api/v1/reply/toolchains-v1-b7ea7cd917c5c9d0d71b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/InstallScripts.json
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/4.0.2/CMakeCCompiler.cmake
build/CMakeFiles/4.0.2/CMakeCXXCompiler.cmake
build/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.0.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.0.2/CMakeRCCompiler.cmake
build/CMakeFiles/4.0.2/CMakeSystem.cmake
build/CMakeFiles/4.0.2/VCTargetsPath.txt
build/CMakeFiles/4.0.2/VCTargetsPath.vcxproj
build/CMakeFiles/4.0.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.0.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/4.0.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build/CMakeFiles/4.0.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.0.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/4.0.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/CMakeFiles/4.0.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/4.0.2/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/4.0.2/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/613df92b537461f683831d2d1dc5a7ce/generate.stamp.rule
build/Debug/sdlGPU.exe
build/Debug/sdlGPU.pdb
build/sdlGPU.dir/Debug/main.obj
build/sdlGPU.dir/Debug/sdlGPU.exe.recipe
build/sdlGPU.dir/Debug/sdlGPU.ilk
build/sdlGPU.dir/Debug/vc143.pdb
build/sdlGPU.dir/Debug/sdlGPU.tlog/CL.command.1.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/Cl.items.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/CL.read.1.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/CL.write.1.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/CustomBuild.command.1.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/CustomBuild.read.1.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/CustomBuild.write.1.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/link.command.1.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/link.read.1.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/link.secondary.1.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/link.write.1.tlog
build/sdlGPU.dir/Debug/sdlGPU.tlog/sdlGPU.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.github/copilot-instructions.md
